@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
    max-height: 40px;
}
