@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    display: flex;
    justify-content: space-between; /* Isso empurrará a logo para a esquerda e os links para a direita */
    width: 100%; /* Garante que a barra ocupe toda a largura */
}

img {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.title-group {
    display: flex; /* Faz com que os links dentro do title-group se alinhem horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: flex-end; /* Alinha os links à direita */
}
.header a, button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    margin-right: 35px;
    border-bottom: 2px solid transparent; /* Linha transparente inicialmente */
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid transparent !important;
    background: transparent;
}

.header .selected {
    color: black;
}

.disabled {
    cursor: default !important;
}

.disabled:hover {
    border-bottom-color: transparent !important;
}

.header a:hover, button:hover {
    color: black;
    border-bottom-color: #eb1f1f !important;
}

button:hover {
    cursor: pointer;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 35px;
    display: inline-flex;
}

i {
    padding-right: 5px;
}
