<mat-toolbar class="header mat-elevation-z3">
<span>
    <a href="">
        <img class="logo" src="assets\img\logo.png" alt="">
    </a>

</span>
<span class="title-group">
    <a href="">
        <i class="material-icons">
            home
        </i>
        Home
    </a>
    <a href="">
        <i class="material-icons">
        help
        </i>
        FAQ
    </a>
    <a href="">
        <i class="material-icons">
        grade
        </i>
        Depoimentos
    </a>
</span>
</mat-toolbar>
